*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tablet-landscape) {
    font-size: 56.25%;
  }

  @include respond(tablet-portrait) {
    font-size: 50%;
  }

  @include respond(ultrawide) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 0 auto;
  overflow-x: hidden;

  @include respond(tablet-portrait) {
    padding: 0;
  }
}

.content-container {
  max-width: 106rem;
  margin: 4rem auto;

  @include respond(tablet-landscape) {
    max-width: 95rem;
  }

  @include respond(tablet-portrait) {
    max-width: 85rem;
  }
}
