@import "../abstracts/mixins";
@import "../abstracts/variables";

body {
  line-height: 1.7;
}

h1 {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-size: 6rem;
}

h2 {
  font-family: "proxima-nova-extrabold", sans-serif;
  color: $color-grey-dark;
  font-size: 3rem;
  font-weight: 600;
}

h4,
p {
  font-family: "proxima-nova", sans-serif;
  color: $color-grey;
}

h3 {
  font-family: "proxima-nova-extrabold", sans-serif;
  color: $color-grey-dark;
  font-size: 2.1rem;
}

h4 {
  font-size: 2.1rem;
  font-weight: 800;
}

p {
  font-weight: 200;
  font-size: 1.6rem;
}
