@import "../abstracts/mixins";
@import "../abstracts/variables";

#dashboard {
  display: flex;
  justify-content: center;

  .dashboard-content {
    width: 100%;
    @include dashboardComponent;
  }
}
