@import "../abstracts/_variables.scss";
@import "../abstracts/mixins.scss";

.footer {
  .footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5.5rem;

    @include respond(tablet-portrait) {
      margin: 5.5rem 3rem;
    }

    .made-with-love {
      margin-top: 2rem;
      p {
        margin-top: 2rem;
      }
    }

    .socials-list {
      display: flex;
      list-style: none;
      gap: 1rem;

      svg {
        font-size: 3rem;
        color: $color-social-icon;
        &:hover {
          color: $color-primary;
          cursor: pointer;
        }
      }
    }
  }
}
