@import "../abstracts/variables";
@import "../abstracts/mixins";

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  padding: 0 12rem;
  background-color: $color-white;
  transition: all 0.3s ease;
  border-bottom: 1px solid $color-nav-border;

  @include respond(tablet-portrait) {
    padding: 0 5rem;
  }

  @include respond(phone) {
    padding: 0 5rem;
  }

  .app-title {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;

    p {
      color: $color-black;
      font-family: "Gloria Hallelujah", cursive;
      font-size: 1.8rem;
    }

    img {
      width: 8rem;
      height: 8rem;
    }
  }
  .button-container {
    display: flex;
    gap: 3rem;
    p {
      color: $color-white;
    }
  }

  &.nav-transparent {
    background-color: $color-transparent;
    border-bottom: none;
    p {
      color: white;
    }
  }

  &.nav-overlap {
    position: fixed;

    @include respond(tablet-portrait) {
      position: sticky;
      background-color: $color-white;

      p {
        color: $color-black;
      }
    }
  }

  #mobile-nav {
    display: none;
    margin-top: 1rem;

    @include respond(phone) {
      display: block;
    }

    .menu-button {
      font-size: 5rem;
    }
  }

  #non-mobile-nav {
    display: flex;
    @include respond(phone) {
      display: none;
    }
  }
}
