@font-face {
  font-family: "proxima-nova";
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  src: url("/src/assets/fonts/Proxima-Nova-Regular.ttf");
}

@font-face {
  font-family: "proxima-nova-black";
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  src: url("/src/assets/fonts/Proxima-Nova-Black.ttf");
}

@font-face {
  font-family: "proxima-nova-extrabold";
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  src: url("/src/assets/fonts/Proxima-Nova-Extrabold.ttf");
}
