// COLORS
$color-primary: #93bfcf;
$color-primary-dark: #6096b4;
$color-primary-light: #bdcdd6;

$color-secondary: #ffabab;
$color-secondary-dark: #d14d72;
$color-secondary-light: #fcc8d1;

$color-tertiary: #fac213;
$color-tertiary-dark: #f77e21;
$color-tertiary-light: #fef9a7;

$color-beige: #eee9da;
$color-pink: #fef2f4;
$color-magenta: #b01e68;

$color-white: #fff;
$color-black: #000;
$color-grey: #777;
$color-grey-dark: #404041;

$color-link-blue: #0095f6;

// FONT
$default-font-size: 1.6rem;
