// COLORS
$color-primary: #ffabab;
$color-primary-dark: #d14d72;
$color-primary-light: #fcc8d1;

$color-secondary: #93bfcf;
$color-secondary-dark: #6096b4;
$color-secondary-light: #bdcdd6;

$color-tertiary: #e9d700;
$color-tertiary-dark: #dab600;
$color-tertiary-light: #f8ed62;

$color-quaternary: #a6b1e1;
$color-quaternary-dark: #424874;
$color-quaternary-light: #dcd6f7;

$color-pentanary: #609966;
$color-pentanary-dark: #40513b;
$color-pentanary-light: #9dc08b;

$color-beige: #eee9da;
$color-pink: #fef2f4;
$color-magenta: #b01e68;

$color-white: #fff;
$color-black: #000;
$color-grey-light: #f7f7f7;
$color-grey: #777;
$color-grey-dark: #404041;
$color-transparent: rgba(0, 0, 0, 0.25);

$color-link-blue: #0095f6;
$color-nav-border: #e5e5e5;
$color-dashboard-background: #e4e7eb;
$color-dashboard-white: #f5f7f9;
$color-disabled-border: rgba(118, 118, 118, 0.3);

// FONT
$default-font-size: 1.6rem;
