// COLORS
$color-primary: #ffabab;
$color-primary-dark: #d14d72;
$color-primary-light: #fcc8d1;

$color-secondary: #93bfcf;
$color-secondary-dark: #6096b4;
$color-secondary-light: #bdcdd6;

$color-tertiary: #fac213;
$color-tertiary-dark: #f77e21;
$color-tertiary-light: #fef9a7;

$color-beige: #eee9da;
$color-pink: #fef2f4;
$color-magenta: #b01e68;

$color-white: #fff;
$color-black: #000;
$color-grey-light: #f7f7f7;
$color-grey: #777;
$color-grey-dark: #404041;
$color-transparent: rgba(0, 0, 0, 0.25);

$color-link-blue: #0095f6;
$color-nav-border: #e5e5e5;
$color-dashboard-background: #e4e7eb;
$color-dashboard-white: #f5f7f9;

// FONT
$default-font-size: 1.6rem;
