@import "../abstracts/variables";
@import "../abstracts/mixins";

#admin-nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  width: fit-content;
  z-index: 98;
  left: 0;
  background-color: $color-dashboard-white;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0.5rem 1rem;

  @include respond(tablet-portrait) {
    display: none;
  }

  nav {
    height: 100%;
  }

  .nav-list {
    margin-top: 3rem;

    a {
      text-decoration: none;
    }

    .nav-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;
      padding: 1.75rem;
      cursor: pointer;
      transition: all 0.3s;
      margin: 1rem 0rem;
      margin-left: 1rem;

      li {
        display: flex;
        align-items: center;
        gap: 1.5rem;
      }

      &:hover {
        background-color: $color-tertiary-dark;
      }

      svg,
      p {
        color: $color-grey-dark;
      }

      svg {
        font-size: 2.2rem;
      }
    }

    .nav-item-active {
      background-color: $color-tertiary;

      p,
      svg {
        color: $color-white;
      }
    }
  }
}
