@import "../abstracts/variables";
@import "../abstracts/mixins";

.carousel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.05);

  .inner {
    white-space: nowrap;
    transition: all 0.3s;
    height: 100%;
  }

  .carousel-buttons {
    display: flex;
    justify-content: space-evenly;
    background-color: $color-grey-light;
  }

  .button-arrow {
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 2rem;
  }

  .carousel-indicator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
  }

  .carousel-indicator > button {
    margin: 0.5rem;
    background: none;
  }

  .indicator-buttons {
    border: none;
    cursor: pointer;
  }

  .indicator-symbol {
    color: $color-secondary-light;
  }

  .indicator-symbol-active {
    color: $color-secondary-dark;
  }

  .carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: $color-white;
    width: 100%;
  }

  .daily-workout-list {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
