@import "../abstracts/variables";

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 49rem;
  background-color: $color-white;
  width: 100%;
}

.microcycle-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $color-white;
  height: 100rem;
}
