@import "../abstracts/mixins";
@import "../abstracts/variables";

#exercise-list-container {
  margin: 1rem 4rem;

  @include respond(phone) {
    width: 100%;
    margin: 1rem 1.5rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  .day-container {
    background-color: $color-white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1rem;
    margin-top: 1rem;

    @include respond(phone) {
      justify-content: center;
    }
  }

  .exercise-item {
    &-container {
      margin: 1.5rem 0rem;
      padding: 2rem;
      border-radius: 1rem;
      box-shadow: 0 0.1rem 0.3rem 0 $color-grey;
      display: flex;
      flex-direction: column;
      white-space: normal;

      h5,
      p {
        color: $color-grey-dark;
      }

      h5 {
        letter-spacing: 0.1rem;
        @include respond(phone) {
          font-size: 2rem;
        }
      }

      p {
        transform: translateY(0.2rem);

        @include respond(phone) {
          font-size: 2rem;
        }
      }

      .exercise-description {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        margin-bottom: 0.5rem;

        .icon-container {
          display: flex;
          gap: 0.5rem;
        }
      }
    }

    &-icon {
      align-self: flex-end;
      font-size: 2.5rem;
      cursor: pointer;
    }

    &-add {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-grey;
      color: white;
      font-size: 5.8rem;
      cursor: pointer;
    }

    &-form {
      height: 100%;
      background-color: $color-grey;
      display: flex;
      flex-direction: column;

      .icon-container {
        display: flex;
        justify-content: flex-end;
        .form-icon {
          font-size: 3rem;
          color: $color-grey-dark;
          cursor: pointer;
          :hover {
            color: $color-dashboard-white;
          }
        }
      }

      input,
      select {
        font-family: "proxima-nova-extrabold", sans-serif;
        font-weight: 900;
        color: $color-grey-dark;
        font-size: 1.5rem;
        padding: 1rem 0;
        text-align: center;

        &::placeholder {
          font-size: 1.5rem;
          text-align: center;
        }
      }

      .exercise-name {
        margin-top: 0.5rem;

        input {
          width: 100%;
        }
      }

      .exercise-scheme,
      .exercise-load {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        input,
        select {
          width: 50%;
        }
      }

      input,
      select {
        height: 2.5rem;
      }
    }

    &-main {
      background-color: $color-secondary;
    }

    &-variant {
      background-color: $color-secondary-light;
    }

    &-accessory {
      background-color: $color-beige;
    }
  }
}
