@import "../abstracts/variables";

.exercise-item {
  &-container {
    margin: 1.5rem 2rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.1rem 0.3rem 0 $color-grey;

    h5,
    p {
      color: $color-grey-dark;
    }

    h5 {
      letter-spacing: 0.1rem;
    }
  }

  &-main {
    background-color: $color-secondary;
  }

  &-variant {
    background-color: $color-secondary-light;
  }

  &-accessory {
    background-color: $color-beige;
  }
}
