@import "../abstracts/mixins";
@import "../abstracts/variables";

#features-container {
  display: flex;
  gap: 1.5rem;

  @include respond(tablet-portrait) {
    flex-direction: column;
    gap: 3rem;
  }

  .feature-item {
    border-radius: 0.5rem;
    padding: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem;
    width: 100%;
    transition: all 0.3s;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);

    @include respond(tablet-portrait) {
      box-shadow: none;
      border: 1px solid $color-nav-border;
    }

    @include respond(tablet-portrait) {
      width: 90%;
      margin: 0 auto;
    }

    h4 {
      margin: 2rem 0;
    }

    h4,
    p {
      text-align: center;
    }

    .icon-container {
      margin-top: 6rem;

      svg {
        height: 100px;
        width: 100px;
      }
    }

    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
      @include respond(tablet-portrait) {
        transform: scale(1.05);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      }
    }
  }
}
