@import "../abstracts/mixins";

.feature-item {
  border-radius: 0.5rem;
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem;
  width: 100%;
  transition: all 0.3s;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);

  @include respond(tablet-portrait) {
    width: 90%;
    margin: 0 auto;
  }

  h4 {
    margin: 2rem 0;
  }

  h4,
  p {
    text-align: center;
  }

  .icon-container {
    margin-top: 6rem;

    svg {
      height: 100px;
      width: 100px;
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
