@import "../abstracts/_mixins.scss";
@import "../abstracts/variables";

.form-container {
  @include respond(small-phone) {
    padding: 1rem;
    transform: translateX(0);
  }

  form {
    margin-top: 3rem;

    @include respond(tablet-portrait) {
      margin-top: 0.75rem;
    }
  }

  label {
    font-size: 1.2rem;
    font-family: "proxima-nova", sans-serif;
    margin-bottom: 1rem;
    font-weight: 600;
    color: $color-grey-dark;
  }

  h2 {
    text-align: center;
  }

  .row:last-of-type {
    margin-top: 2rem;
  }

  .row {
    display: flex;
    justify-content: center;

    @include respond(tablet-portrait) {
      flex-direction: column;
    }

    div:last-child {
      margin-left: 2rem;

      @include respond(tablet-portrait) {
        margin-left: 0;
      }
    }

    .flex-item {
      display: flex;
      flex-direction: column;
      margin: 2rem 0;
      flex: 1;

      select,
      input {
        height: 5rem;
        text-indent: 1rem;
        font-size: 1.6rem;
        color: $color-black;

        &::placeholder {
          color: $color-grey;
        }

        &:disabled {
          font-weight: 900;
          background-color: $color-secondary-light;
          opacity: 0.5;
          border: 2px solid $color-disabled-border;
        }
      }
    }

    .checkbox {
      label {
        display: flex;
        align-items: center;
        gap: 1rem;
        max-width: max-content;
      }
    }

    .flex-item.single {
      margin-left: 0;
    }

    .grouping {
      display: flex;
      flex: 1;

      div:not(:first-child) {
        margin-left: 2rem;

        @include respond(phone) {
          margin-left: 0;
        }
      }

      @include respond(phone) {
        flex-direction: column;
      }
    }
  }
}

input {
  font-family: "proxima-nova", sans-serif;
}
