@import "../abstracts/variables";

#mobile-nav {
  #mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom: 1px solid $color-nav-border;

    ul {
      width: 100vw;
      border-top: 1px solid $color-nav-border;
      z-index: 99;
      background-color: $color-white;
      cursor: pointer;

      p {
        padding: 2rem;
        font-family: "proxima nova", sans-serif;
        color: $color-black;
        font-size: 1.6rem;
      }

      .menu-list {
        display: none;
      }
    }

    ul.active {
      .menu-list {
        display: block;
      }
    }

    .mobile-menu-item,
    .mobile-menu-static {
      li {
        width: 100vw;
        list-style: none;
        padding: 2rem;
        border-top: 1px solid $color-nav-border;
        z-index: 99;
        background-color: $color-white;
      }

      a {
        text-decoration: none;
        color: $color-grey-dark;
        font-family: "proxima nova", sans-serif;
        font-size: 1.6rem;
      }
    }

    .mobile-menu-item {
      li {
        color: white;
      }
    }

    .dashboard-list {
      li {
        background-color: $color-secondary;
      }
    }

    .admin-list {
      li {
        background-color: $color-tertiary;
      }
    }
  }
}
