@import "../abstracts/variables";

#mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom: 1px solid $color-nav-border;

  .mobile-menu-item {
    li {
      width: 100vw;
      list-style: none;
      padding: 2rem;
      border-top: 1px solid $color-nav-border;
      z-index: 99;
      background-color: $color-white;
    }

    a {
      text-decoration: none;
      color: $color-grey;
      font-family: "proxima nova", sans-serif;
      font-size: 1.6rem;
    }
  }
}
