@import "../abstracts/mixins";
@import "../abstracts/variables";

#orm-container {
  @include dashboardComponent;

  h2 {
    @include respond(phone) {
      font-size: 6rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      @include respond(phone) {
        padding: 2.5rem 10rem;
      }
    }

    .sbd-container {
      display: flex;
      justify-content: center;
      gap: 10rem;

      @include respond(tablet-portrait) {
        gap: 3rem;
      }

      @include respond(phone) {
        flex-direction: column;
        gap: 0;
      }

      input {
        @include inputStyle(22rem, rgba($color-white, 0.5), 0.25rem);
        background-color: rgba($color-tertiary-light, 0.7);
        text-align: center;
        font-family: "proxima-nova-extrabold";
        letter-spacing: 0.1rem;
        font-size: 2rem;
        color: $color-grey-dark;
        transform: translateX(0.3rem);
        @include respond(phone) {
          width: 30rem;
          height: 10rem;
          font-size: 5rem;
        }
      }

      img {
        height: 20rem;

        @include respond(phone) {
          height: 40rem;
        }
      }

      .max-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
