@import "../abstracts/mixins";
@import "../abstracts/variables";

#orm-container {
  box-shadow: 0 0.5rem 10rem 0 #e4e6e7;
  background-color: #f9fafb;
  padding: 5rem;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .sbd-container {
      display: flex;
      justify-content: center;
      gap: 10rem;

      input {
        @include inputStyle(22rem, rgba($color-white, 0.5), 0.25rem);
        background-color: rgba($color-tertiary-light, 0.7);
        text-align: center;
        font-family: "proxima-nova-extrabold";
        letter-spacing: 0.1rem;
        font-size: 2rem;
        color: $color-grey-dark;
        transform: translateX(0.3rem);
      }

      img {
        height: 20rem;
      }

      .max-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
