@import "../abstracts/mixins";
@import "../abstracts/variables";

#orm-container {
  @include dashboardComponent;

  h2 {
    @include respond(phone) {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .sbd-container {
      display: flex;
      justify-content: center;
      gap: 10rem;

      @include respond(tablet-landscape) {
        gap: 4rem;
      }

      @include respond(tablet-portrait) {
        gap: 3rem;
      }

      @include respond(tablet-portrait) {
        flex-direction: column;
        gap: 0;
      }

      input {
        @include inputStyle(22rem, rgba($color-white, 0.5), 0.25rem);
        background-color: rgba($color-tertiary-light, 0.7);
        text-align: center;
        font-family: "proxima-nova-extrabold";
        letter-spacing: 0.1rem;
        font-size: 2rem;
        color: $color-grey-dark;
        transform: translateX(0.3rem);
        @include respond(phone) {
          width: 20rem;
          height: 5rem;
          font-size: 2.5rem;
        }
      }

      .kirby-bench {
        transform: translateY(10px);
      }

      img {
        height: 10rem;
        margin: 3rem 0;

        @include respond(tablet-portrait) {
          height: 20rem;
          margin-bottom: 3rem;
        }

        @include respond(phone) {
          height: 15rem;
          margin-bottom: 3rem;
        }
      }

      .max-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include respond(phone) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
