@import "../abstracts/variables";
@import "../abstracts/mixins";

#register-modal {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.7) 50%,
      transparent 50%
    ),
    url(../../photos/backgrounds/dragonboat-race.jpeg);
  background-size: cover;
  border-radius: 0.3rem;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;

  @include respond(phone) {
    background-image: linear-gradient(
        rgba($color-white, 0.5),
        rgba($color-white, 0.7)
      ),
      url(../../photos/backgrounds/dragonboat-race.jpeg);
  }

  .header {
    display: flex;
    flex-direction: row;
  }

  form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5rem;

    @include respond(phone) {
      width: 100%;
      padding-right: 0;
    }

    div:not(:last-child) {
      margin: 0.75rem 0;
    }

    h1 {
      background-image: linear-gradient(
        to right,
        $color-tertiary,
        $color-tertiary-dark
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    input {
      @include inputStyle(150%, rgba($color-white, 0.5), 0.5rem);
    }

    label {
      color: $color-grey;
      padding: 0 2rem;
      font-size: 1.2rem;
      font-family: "Urbanist", sans-serif;
      font-weight: 600;
      transition: all 0.3s;
    }

    input:placeholder-shown + label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem);
    }

    div {
      display: flex;
      width: 50%;
      flex-direction: column;
    }
  }

  p {
    margin-left: 0.75rem;
    margin-top: 2.5rem;
  }

  a {
    color: $color-link-blue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 0.25rem;
  }

  .close-modal {
    font-size: 5rem;
    margin-right: 3rem;
    margin-top: 1.5rem;
    background-color: rgba($color-grey, 0.4);
    color: $color-white;
    border-radius: 0.3rem;
    cursor: pointer;
  }
}
