@import "/src/assets/stylesheets/abstracts/mixins";
@import "/src/assets/stylesheets/abstracts/variables";

.table {
  @include dashboardComponent;
  margin: 5rem;
  font-size: 1.2rem;
  border-collapse: collapse;
  font-family: "proxima-nova" sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 95rem;
  @include respond(tablet-landscape) {
    width: 76rem;
  }

  @include respond(phone) {
    margin: 5rem 1rem;
  }

  td::first-letter {
    text-transform: capitalize;
  }

  thead {
    background-color: $color-quaternary-dark;
    color: #ffffff;
    text-align: left;
  }

  th,
  td {
    padding: 1.2rem 1.5rem;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  tbody tr:last-of-type {
    border-bottom: 2px solid $color-quaternary-dark;
  }

  tbody tr.active-row {
    font-weight: bold;
    color: $color-quaternary;
  }

  th:first-of-type {
    border-top-left-radius: 1rem;
  }
  th:last-of-type {
    border-top-right-radius: 1rem;
  }
  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 1rem;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 1rem;
  }

  svg {
    font-size: 2rem;
    cursor: pointer;
  }

  .add-program-container {
    display: flex;
    align-items: center;
    justify-content: center;

    form {
      display: flex;
      align-items: center;
      gap: 1rem;

      input {
        font-family: "proxima-nova", sans-serif;
      }
    }

    .add-program {
      display: flex;
      align-items: center;
      font-size: 2.5rem;
      cursor: pointer;
      &:hover {
        color: $color-confirm-green;
      }
    }
  }

  .flex-table-content {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

.table-oversized {
  @include respond(small-phone) {
    display: block;
    margin: 5rem 1rem;
    padding: 0;
    overflow-x: auto;
  }
}
